In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

## Load the data
df = pd.read_csv("CleanedAuthors.csv")

display(df.head())

,Unnamed: 0,author_average_rating,author_gender,author_genres,author_id,author_name,author_rating_count,author_review_count,birthplace,book_average_rating,book_id,book_title,genre_1,genre_2,num_ratings,num_reviews,pages,publish_date
0,0,4.01,female,"historical-fiction,",74489,Victoria Thompson,74399,6268,United States,4.02,686717,Murder on St. Mark's Place,Mystery,Historical,5260,375,277,2000
1,1,4.15,male,"literature-fiction,mystery-thrillers,",706255,Stieg Larsson,3726435,142704,Sweden,4.13,2429135,The Girl with the Dragon Tattoo,Fiction,Mystery,2229163,65227,465,August 2005
2,2,4.00,female,"romance,",5618190,Mimi Jean Pamfiloff,76496,7975,United States,3.99,27833684,Tailored for Trouble,Romance,Contemporary,2151,391,354,2016
3,3,3.88,male,"fiction,memoir,",37871,José Donoso,5522,489,Chile,4.14,382975,The Obscene Bird of Night,Fiction,Magical Realism,1844,173,438,1970
4,4,4.10,female,"young-adult,fantasy,",36122,Patricia C. Wrede,291013,13453,United States,4.01,64207,Sorcery & Cecelia: or The Enchanted Chocolate Pot,Fantasy,Young Adult,17051,1890,326,April 15th 1988

In [5]:
## restreindre sur birthplace et gender
df = df[['birthplace', 'genre_1']]
display(df.head())

       birthplace  genre_1
0   United States  Mystery
1          Sweden  Fiction
2   United States  Romance
3           Chile  Fiction
4   United States  Fantasy

In [7]:
# tableau de contingence
contingency_table = pd.crosstab(df['birthplace'], df['genre_1'])
display(contingency_table)

## enlever les ligne qui ne sont pas que des lettre
contingency_table = contingency_table[contingency_table.index.str.isalpha()]
contingency_table = contingency_table[contingency_table.columns[contingency_table.columns.str.isalpha()]]
display(contingency_table)

genre_1,Adult,Adult Fiction,Adventure,Amish,Animals,Anthologies,Apocalyptic,Art,Asian Literature,Autobiography,...,Thriller,Travel,United States,War,Warfare,Westerns,Womens Fiction,World War II,Writing,Young Adult
birthplace,,,,,,,,,,,,,,,,,,,,,
South of France,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
United Arab Emirates,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
United Kingdom,1,14,9,0,5,0,0,0,0,11,...,34,18,0,3,0,0,35,0,1,103
United States,1,45,11,7,27,11,3,4,2,59,...,66,26,1,10,5,11,40,3,3,1441
AL,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
currently living Canada,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
http://nikkiloftin.com/,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ndia,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
now Pakistan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
the Former Yugoslav Republic of,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

genre_1,Adult,Adventure,Amish,Animals,Anthologies,Apocalyptic,Art,Autobiography,Biography,Business,...,Spirituality,Sports,Suspense,Teaching,Thriller,Travel,War,Warfare,Westerns,Writing
birthplace,,,,,,,,,,,,,,,,,,,,,
AL,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AZ,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Alabama,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Alaska,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Winnipeg,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Yemen,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Zambia,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Zimbabwe,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ndia,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0